---
import '../styles/global.css';

export interface Props {
  title?: string;
}

const { title = "rledford.dev" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/favicon.svg" />
    <title>{title}</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3985fd9177.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-6VVYT13278"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6VVYT13278');
    </script>

    <style>
      @font-face {
        font-family: 'Share Tech Mono';
        src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      
      body {
        font-family: 'Share Tech Mono', 'Courier New', monospace;
      }
      
      .bg-pattern {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: #fff;
        opacity: 0.25;
        background-image: linear-gradient(
            30deg,
            #c4c4c4 12%,
            transparent 12.5%,
            transparent 87%,
            #c4c4c4 87.5%,
            #c4c4c4
          ),
          linear-gradient(
            150deg,
            #c4c4c4 12%,
            transparent 12.5%,
            transparent 87%,
            #c4c4c4 87.5%,
            #c4c4c4
          ),
          linear-gradient(
            30deg,
            #c4c4c4 12%,
            transparent 12.5%,
            transparent 87%,
            #c4c4c4 87.5%,
            #c4c4c4
          ),
          linear-gradient(
            150deg,
            #c4c4c4 12%,
            transparent 12.5%,
            transparent 87%,
            #c4c4c4 87.5%,
            #c4c4c4
          ),
          linear-gradient(
            60deg,
            #c4c4c477 25%,
            transparent 25.5%,
            transparent 75%,
            #c4c4c477 75%,
            #c4c4c477
          ),
          linear-gradient(
            60deg,
            #c4c4c477 25%,
            transparent 25.5%,
            transparent 75%,
            #c4c4c477 75%,
            #c4c4c477
          );
        background-size: 40px 70px;
        background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
      }
    </style>
  </head>

  <body class="font-sans bg-gray-50 min-h-screen">
    <div class="bg-pattern"></div>
    <div class="relative">
      <div class="max-w-6xl mx-auto bg-white/95 backdrop-blur-sm shadow-2xl min-h-screen">
        <slot />
      </div>
    </div>
  </body>
</html>
